<!--
/**
 * Product Question
 * Email template
 *
 * @category Internship
 * @package Internship\ProductQuestion
 * @author Andrii Tomkiv <tomkivandrii18@gmail.com>
 * @copyright 2024 Tomkiv
 */
-->

{{template config_path="design/email/header_template"}}

<!--@subject New Product Question @-->

<p>{{trans "Question from: %name" name=$name}}</p>
<br/>
<p>{{trans "For product: %product_sku" product_sku=$product_sku}}</p>
<br/>
<p>{{trans "Question content is: %question" question=$question}}</p>
<br/>
<p>{{trans "Send reply to: %email" email=$email}}</p>
<br/>

{{template config_path="design/email/footer_template"}}
